.BucketContainer{
    display: flex;
    width: 100%;
    height: 100vh;
}
.rightBucketSection{
    background-color:var(--secondary-color2);
    flex: 1;
    padding: 64px;
}
.bucketCardContainer{
    margin-top:64px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

@media only screen and (max-width: 768px){
    .rightBucketSection{
        padding: 16px;
        padding-bottom: 64px;
    }
}